.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fade-in-text {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
